<p>
  <b>Id:</b>
  <%=h @people.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @people.name %>
</p>

<p>
  <b>Adress:</b>
  <%=h @people.adress %>
</p>

<p>
  <b>Number:</b>
  <%=h @people.number %>
</p>

<p>
  <b>Complement:</b>
  <%=h @people.complement %>
</p>

<p>
  <b>Postal:</b>
  <%=h @people.postal %>
</p>

<p>
  <b>City:</b>
  <%=h @people.city %>
</p>

<p>
  <b>Tel res:</b>
  <%=h @people.tel_res %>
</p>

<p>
  <b>Tel cel:</b>
  <%=h @people.tel_cel %>
</p>

<p>
  <b>Tel com:</b>
  <%=h @people.tel_com %>
</p>

<p>
  <b>Email:</b>
  <%=h @people.email %>
</p>

<p>
  <b>Birth:</b>
  <%=h @people.birth %>
</p>


<%= link_to 'Edit', edit_people_path(@people) %> |
<%= link_to 'Back', peoples_path %>
